<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>onlineTradingWebSocket</key>
	<dict>
		<key>host</key>
		<string>socket://env/</string>
	</dict>
	<key>onlineTradingWebSocket2</key>
	<dict>
		<key>host</key>
		<string>socket://develop/</string>
	</dict>
	<key>xapi</key>
	<dict>
		<key>certPins</key>
		<array>
			<string>env 123</string>
			<string>env 234</string>
			<string>env 345</string>
		</array>
		<key>host</key>
		<string>https://env.com</string>
	</dict>
</dict>
</plist>
